/* initial set up start */
:root {
    --primary-font-family: "Yeseva One", serif;
    --secondary-font-family: "Work Sans", sans-serif;
    --primary-color: #1F2B6C;
    --secondary-color: #159EEC;
    --accent-color: #BFD2F8;
    --primary-font-size: 3rem;

}

h5 {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
}

h2 {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}

p {
    margin: 0;
}

/* initial set up end*/
nav {
    background: var(--primary-color);
    padding: 12px 0;
}

h1 {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}

h1 span {
    color: var(--secondary-color);
}

a {
    transition: all .3s ease;
}

.nav_btns a,
#hero a {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.nav_btns a:hover,
#hero a:hover {
    background-color: #79a6ff;
    color: white;
}

.text_p {
    color: var(--secondary-color);
}

.note i {
    font-size: 1.6rem;
}

/* header section end  */

/* hero section start  */

#hero {
    background: url(./Assets/images/hero_bg.png) center / cover no-repeat;
    height: 85vh;
    width: 100%;

}

p {
    font-size: 1.2rem;
}

/* hero section end  */

.books {
    margin-top: -2.5rem;
    height: 5rem;
}

.book-1 {
    background-color: var(--primary-color);
}

.book-2 {
    background-color: var(--accent-color);
}

.book-3 {
    background-color: var(--secondary-color);
}

.books img {
    width: 2.2rem;
}