/* initial set up start */
:root {
    --primary-font-family: "Yeseva One", serif;
    --secondary-font-family: "Work Sans", sans-serif;
    --primary-color: #1F2B6C;
    --secondary-color: #159EEC;
    --accent-color: #BFD2F8;
    --primary-font-size: 3rem;

}

h5 {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}

h3 {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
}

p {
    margin: 0;
}

/* initial set up end*/
nav {
    background: var(--primary-color);
    padding: 12px 0;
}

h1 {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}

h1 span {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    transition: all .3s ease;
}

.nav_btns a,
#hero a {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.nav_btns a:hover,
#hero a:hover {
    background-color: #79a6ff;
    color: white;
}

.text_p {
    color: var(--secondary-color);
}

.note i {
    font-size: 1.6rem;
}

/* header section end  */

/* hero section start  */

#hero {
    background: url(./Assets/images/hero_bg.png) center / cover no-repeat;
    height: 85vh;
    width: 100%;

}

p {
    font-size: 1.2rem;
}

/* hero section end  */

.books {
    margin-top: -3rem;
    height: 6rem;
}

.book-1 {
    background-color: var(--primary-color);
}

.book-2 {
    background-color: var(--accent-color);
}

.book-3 {
    background-color: var(--secondary-color);
}

.books img {
    width: 2.2rem;
}

#welcome a:hover {
    color: var(--primary-color);
}

.left_aside {
    width: 60rem;
}

.left_aside>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 23%;
}

.left_aside>div:nth-child(2),
.left_aside a {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.left_aside a {
    height: 8%;
}

.list {
    gap: 8rem;
}

.list i {
    color: var(--secondary-color);
}

.special img {
    width: 3.5rem;
}

.special_grid>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13rem;
    gap: 5;
    border: 1px solid rgba(128, 128, 128, 0.097);
    transition: all .2s ease;
}

.special_grid>div:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: .6rem;
}

/* appointment form start */
.appoinment_head {
    color: var(--secondary-color);
}

.appointment_form {
    background: url(./Assets/images/appointment-bg.png) center / cover no-repeat;
    height: 85vh;
    width: 100%;
}

.appointment_form .bg {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.737);
}

.appointment_form .bg .container {
    gap: 8rem;
}

.appointment_form form {
    height: 25rem;
    background-color: var(--primary-color);
}

input:focus,
textarea:focus {
    border-radius: 5px;
    outline: 2px solid rgba(0, 170, 255, 0.829);
}

select option {
    background-color: var(--primary-color);
}

.submit {
    border: none;
    font-family: var(--secondary-font-family);
    color: var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 0 0 5px 5px;
    transition: all .3s ease;
}

.submit:hover {
    background-color: var(--secondary-color);
}

/* doctors section  */
.dr-about {
    background-color: var(--accent-color);
}

.doctors a {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.doctors .carousel-indicators button,
.news .carousel-indicators button {
    background-color: var(--primary-color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.news_date {
    color: var(--secondary-color);
}

.contact_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    gap: .4rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.contact_content p {
    font-size: 1.1rem;
}

.contact_content:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

footer,
footer a {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

footer h2 {
    font-size: 2.5rem;
    color: var(--accent-color);
}

footer button,
footer input {
    color: var(--primary-color);
    background-color: var(--accent-color);
    height: 3rem;
    border: none;
    border-radius: .3rem;
    padding: .7rem;
}

footer input {
    width: 15rem;
}

footer button {
    margin-left: -3rem;
}