.mobile_sideBar {
    width: 22rem;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -500px;
    height: 100vh;
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: all .3s ease;
}

.mobile_sideBar_open {
    position: fixed;
    left: 0;
}

.mobile_sideBar .sideBar_header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.sideBar_header button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.8rem;
}

.list_div a {
    display: block;
    width: 100%;
    padding: .5rem 0rem 1rem 2rem;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.list_div a:hover {
    font-weight: bold;
}

.appoinment_link {
    text-align: center;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.appoinment_link:hover {
    background-color: var(--secondary-color);
    color: white;
}


@media (max-width:768px) {
    #hero {
        background: url(../images/Physician_Trends_2021_Merritt_Hawkins\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hero h2 {
        font-size: 2rem;
    }

    #hero .container {
        background-color: rgba(255, 255, 255, 0.332);
        justify-content: center;
    }

    .books {
        margin-top: 2rem;
    }

    .appointment_form form {
        height: 35rem;
        margin-top: 4rem;
    }

    .left_aside {
        height: 30rem;
    }

    .left_aside>div {
        height: 13.5rem;
    }

}