@media (max-width:768px) {
    #hero {
        background: url(../images/Physician_Trends_2021_Merritt_Hawkins\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hero h2 {
        font-size: 2rem;
    }

    #hero .container {
        background-color: rgba(255, 255, 255, 0.332);
        justify-content: center;
    }

    .books {
        margin-top: 2rem;
    }

    .appointment_form form {
        height: 35rem;
        margin-top: 4rem;
    }

    .left_aside {
        height: 30rem;
    }

    .left_aside>div {
        height: 13.5rem;
    }

}