/* initial set up start */
html {
    scroll-behavior: smooth;
}

:root {
    --primary-font-family: "Yeseva One", serif;
    --secondary-font-family: "Work Sans", sans-serif;
    --primary-color: #1F2B6C;
    --secondary-color: #159EEC;
    --accent-color: #BFD2F8;
    --primary-font-size: 3rem;

}

h5 {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}

h3 {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
}

p {
    margin: 0;
}

/* initial set up end*/
nav {
    background: var(--primary-color);
    padding: 12px 0;
}

h1 {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}

h1 span {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    transition: all .3s ease;
}

.navbar a {
    color: white;
}

.navbar .active_page,
.navbar a:hover {
    color: var(--secondary-color);
}

.nav_btns a,
.hero_content a {
    width: 9rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-decoration: none;
}

.nav_btns a:hover,
#hero a:hover {
    background-color: var(--secondary-color);
    color: white;
}

.text_p {
    color: var(--secondary-color);
}

.note i {
    font-size: 1.6rem;
}

/* header section end  */

/* hero section start  */

#hero {
    background: url(../images/hero_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;

}

p {
    font-size: 1.2rem;
}

/* hero section end  */

.books {
    margin-top: -3rem;
    /* height: 6rem; */
}

.book-1 {
    background-color: var(--primary-color);
    height: 6rem;
}

.book-2 {
    background-color: var(--accent-color);
    height: 6rem;
}

.book-3 {
    background-color: var(--secondary-color);
    height: 6rem;
}

.books img {
    width: 2.2rem;
}

#welcome a:hover {
    color: var(--primary-color);
}

.left_aside>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 23%;
    border: 1px solid #bfd2f85a;
    transition: all .2s ease;
}

.left_aside>div:hover,
.left_aside a {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: 1rem;
}

.left_aside a {
    height: 8%;
    transition: all .2s ease;
}

.left_aside a:hover {
    background-color: var(--secondary-color);
}

.list {
    gap: 8rem;
}

.list i {
    color: var(--secondary-color);
}

.special img {
    width: 3.5rem;
}

.special_grid>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13rem;
    gap: 5;
    border: 1px solid rgba(128, 128, 128, 0.097);
    transition: all .2s ease;
}

.special_grid>div:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: .6rem;
}

/* appointment form start */
.appoinment_head {
    color: var(--secondary-color);
}

.appointment_form {
    background: url(../images/appointment-bg.png);
    width: 100%;
}

.appointment_form .bg {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.737);
}

.appointment_form .bg .container {
    gap: 8rem;
    margin: 5rem 0 5rem 0;
}

.appointment_form form {
    height: 25rem;
    background-color: var(--primary-color);
}

input:focus,
textarea:focus {
    border-radius: 5px;
    outline: 2px solid rgba(0, 170, 255, 0.829);
}

select option {
    background-color: var(--primary-color);
}

.submit {
    border: none;
    font-family: var(--secondary-font-family);
    color: var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 0 0 5px 5px;
    transition: all .3s ease;
}

.submit:hover {
    background-color: var(--secondary-color);
}

/* doctors section  */
.dr-about {
    background-color: var(--accent-color);
}

.doctors a {
    padding: 1rem 0 1rem 0;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.doctors .carousel-indicators button,
.news .carousel-indicators button {
    background-color: var(--primary-color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.news_date {
    color: var(--secondary-color);
}

.contact_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    gap: .4rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.contact_content p {
    font-size: 1.1rem;
}

.contact_content:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

footer,
footer a {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

footer h2 {
    font-size: 2.5rem;
    color: var(--accent-color);
}

footer button,
footer input {
    color: var(--primary-color);
    background-color: var(--accent-color);
    height: 3rem;
    border: none;
    border-radius: .3rem;
    padding: .7rem;
}

footer input {
    width: 15rem;
}

footer button {
    margin-left: -3rem;
}

/* about page  */
.about_hero {
    background: url(../images/about_bg.png);
}

.service_hero {
    background: url(../images/service-bg.png);
}

.contact_hero {
    background: url(../images/contact-bg.png);
}

.news_hero {
    background: url(../images/blog-bg.png);
}

.page_hero {
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page_hero a {
    color: var(--primary-color);
}

.page_hero .bg_blur {
    color: var(--primary-color);
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.64);
}

/* Comment section  */
.comment {
    height: 70vh;
    background: url(../images/comment.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--accent-color);
    text-align: center;
}

.comment .comment_cover {
    background-color: #1f2b6cb4;
}

.comment span {
    display: inline-block;
    width: 15rem;
    border: 1px solid var(--accent-color);
}

/* service page  */
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.grid_head {
    color: var(--primary-color);
}

.service_grid a:hover {
    color: var(--primary-color);
}

.doctor_grid .grid_container a {
    padding: 1rem;
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.contact_form form {
    background-color: var(--primary-color);
    width: 50%;

}

.contact_form .contact_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contact_form .contact_grid .contact_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}